# build output
dist/
# generated types
.astro/
# dependencies
node_modules/
# logs
npm-debug.log*
pnpm-debug.log*
dev*.log
dev*.err.log
# environment variables
.env
.env.production
# macOS
.DS_Store
# editor
.vscode/
*.tsbuildinfo